
body {
    background-color: #03001C;
}

h1 {
    color: #77477E;
    margin-left: 20px;
}
p { 
    color: #FE9600;
}
* {
    box-sizing: border-box;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;
}
#content {
  float: right ;
  width: 80% ;
}
#navbar {
  float: right;
  width: 20%;
}
