---
layout: default
title: the title is the title
---
<div class="main">
<h1>Hello traveller</h1>
<p>I see you found this page</p>
<Br>
<p>And are wondering what's it's for</p>
<Br>
<p>The Answer is nothing really</p>
<Br>
<h1>Fun Facts</h1>
<Br>
<p>Cats go meow</p>
<Br>
<p>This website has loads of Easter aggs can you find them all</p>
</div>
