
<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/Halloween.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
</head>
{{ content }}
<pre><font color="#FE9600">
      __J"L__
  ,-"`--...--'"-.
 /  /\       /\  \
J  /__\  _  /__\  L
|       / \       |
J    _  """  _    F
 \   \\/\_/\//   /
  "-._\/\_/\/_,-"
      """""""

</font></pre>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85366172-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
